/*Constansts throuought the page*/
html, body{ 
  background-color: rgb(48, 74, 109);
  height: 100%;
  width: 100%;
  font-family: sans-serif Georgia, 'Times New Roman', Times, serif;
  color: rgb(230, 230, 230);
}


  
h1{
  text-align: center;
}
/* navbar animations*/


.navbar{
  padding: .8rem;
  background-color:rgba(21, 37, 59, 0.767);
}
.navbar-nav li{
  padding-right: 20px;
}
.nav-link{
  font-size: 1.1em !important;
  color: rgb(255, 255, 255);
}
a.animated-button.victoria-three {
	border: 2px solid rgb(60, 88, 128);
}
a.animated-button.victoria-three:after {
	background: rgb(60, 88, 128);
	opacity: .5;
	-moz-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	-webkit-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
}
a.animated-button.victoria-three:hover:after {
	height: 140%;
	opacity: 1;
}
a.animated-button:link, a.animated-button:visited {
	position: relative;
	display: block;
	margin: 30px auto 0;
	padding: 14px 15px;
	color: #fff;
	font-size:14px;
	font-weight:500;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	overflow: hidden;
	letter-spacing: .08em;
	border-radius: 0;
	text-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2);
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
}
a.animated-button:link:after, a.animated-button:visited:after {
	content: "";
	position: absolute;
	height: 0%;
	left: 50%;
	top: 50%;
	width: 150%;
	z-index: -1;
	-webkit-transition: all 0.75s ease 0s;
	-moz-transition: all 0.75s ease 0s;
	-o-transition: all 0.75s ease 0s;
	transition: all 0.75s ease 0s;
}
a.animated-button:link:hover, a.animated-button:visited:hover {
	color: #FFF;
	text-shadow: none;
}
a.animated-button:link:hover:after, a.animated-button:visited:hover:after {
	height: 450%;
}
a.animated-button:link, a.animated-button:visited {
	position: relative;
	display: block;
	margin: 30px auto 0;
	padding: 14px 15px;
	color: #fff;
	font-size:14px;
	border-radius: 0;
	font-weight: 500;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	overflow: hidden;
	letter-spacing: .08em;
	text-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2);
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
}
footer{
    background-color:rgb(36, 53, 77);
    color: #ffffff;
    padding-top: 2rem;
  }
  hr.light{
    border-top: 1px solid #ffffff;
    width: 100%;
    margin-top: .8rem;
    margin-bottom: 1rem;
  }
  footer a{
    color: #ffffff;
  }
  hr.light-100{
    border-top: 1px solid #ffffff;
    width: 100%;
    margin-top: .8rem;
    margin-bottom: 1rem;
  }
.font-awesome{
  font-size: 3em;
  margin: 2rem;
}
.fa-facebook:hover,
.fa-twitter:hover,
.fa-yelp:hover{
  color: #b3b3b3;
}
.footer-text{
  font-size: 20px;
}
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: rgb(76, 117, 170);
  color: rgb(255, 255, 255);
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#myBtn:hover {
  background-color: #555;
}
/*Constansts throuought the page*/

/*Homepage*/

.jumbotron{
  padding: 1rem;
  border-radius: 0px;
  background-color: rgb(60, 88, 128);
}
.about-us-btn{
  background-color: rgb(60, 88, 128);
  color: #fff;
}
.about-us-btn:hover {
  background-color: rgb(98, 142, 204);
  color: white;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  
}  
.frontimage{
  border: 5px solid rgba(214, 214, 214, 0.616);
}
.daily-hours{
  text-align: center;
  font-size: 18px;
}



/*menu page*/

div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 50%;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

.row {
  display: flex;
}

/* Create three equal columns that sits next to each other */
.column {
  flex: 50%;
  padding: 5px;
}





.parent{
  position: relative;
  top: 0;
  left: 0;
}
.favorite{
    float: left;
    width: 50%;
    padding: 5px;
    max-width: 100%;
    height: 50%;
    position: relative;
      top: 0;
      left: 0;
}
.star{
width: 10%;
position: absolute;
top: 1px;
left: 15px;
}

.star1{
  width: 10%;
  position: absolute;
top: 1px;
right: 16px;  
}

#Menu.container {
  position: relative;
  width: 50%;
}

.overlay {
  position: relative;
  top: 10px;
  bottom: 0;
  left: 10px;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
}

.container-fluid:hover .overlay {
  opacity: 1;
  color: #000;

}

.text {
  color: ghostwhite;
  font-size: 2.7vw;
  position: absolute;
  left: 23%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, 300%);
  font-weight: 500;
}
.shrimp{
  color:ghostwhite;
  font-size: 2.7vw;
  position: absolute;
  left: 80%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-140%, 145%);
  font-weight: 500;
}
.favorite:hover{
  color: gray;
  opacity: 0.8; 
}



    
 
    





/*Find Us Page*/
.googlemaps{
  padding: 3rem;
  width: 100%;
  height: 700px;
}

.location{
  border-top: 1px solid #ffffff;
  width: 100%;
  margin-top: .8rem;
  margin-bottom: 1rem;
  
}

/*About page*/
.aboutimage{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  width: 75%;
  
} 
.carousel-caption{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.carousel-caption h1{
  font-size: 500%;
  text-transform: uppercase;
  text-shadow: 1px 1px 10px #000;
}
.carousel-caption h3{
  font-size: 200%;
  font-weight: 500;
  text-shadow: 1px 1px 10px #000;
  padding-bottom: 1rem;
}

/* *contact form */
body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: rgb(48, 72, 104);
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: rgb(96, 141, 201);
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
label {
color: black;
}





/* Fish Animation */
svg.fish{
  overflow:visible;
}

@-webkit-keyframes swim
{
	0% {margin-left: -235px}
	90% {margin-left: 100%;}
	100% {margin-left: 100%;}
}

@keyframes swim
{
	0% {margin-left: -235px}
	70% {margin-left: 100%;}
	100% {margin-left: 100%;}
}

.fish{
	width: 235px;
	height: 104px;
	margin-left: -235px;
	position: absolute;	
	animation: swim 20s;
	-webkit-animation: swim 20s;
	animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
	animation-timing-function: linear;
	-webkit-animation-timing-function: linear;
}

svg #fish1,
svg #fish2,
svg #fish3,
svg #fish4,
svg #fish5,
svg #fish6 {background-color:rgb(36, 53, 77);
  
    -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

svg #fish2{
	animation-delay: 0.5s;
	-webkit-animation-delay: 0.5s;
}

svg #fish3{
	animation-delay: 0.2s;
	-webkit-animation-delay: 0.2s;
}

svg #fish4{
	animation-delay: 0.4s;
	-webkit-animation-delay: 0.4s;
}

svg #fish5{
	animation-delay: 0.1s;
	-webkit-animation-delay: 0.1s;
}

svg #fish6{
	animation-delay: 0.3s;
	-webkit-animation-delay: 0.3s;
}

/**/
@-moz-keyframes bounce {
  0%, 50%, 100% {
    -moz-transform: translateY(0);
    transform: translateY(0);
  }
  25% {
    -moz-transform: translateY(-5px);
    transform: translateY(-5px);
  }
  75% {
    -moz-transform: translateY(-3px);
    transform: translateY(-3px);
  }
}
@-webkit-keyframes bounce {
  0%, 50%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  25% {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
  }
  75% {
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px);
  }
}
@keyframes bounce {
  0%, 50%, 100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  25% {
    -moz-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
  }
  75% {
    -moz-transform: translateY(-3px);
    -ms-transform: translateY(-3px);
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px);
  }
} 
/*END Fish Animation*/



/* catering page*/


.cateringcenter{
  text-align: center;
}
.items{
  color: pink;
}