/*Constansts throuought the page*/
html,
body {
  background-color: rgb(48, 74, 109);
  height: 100%;
  width: 100%;
  font-family: sans-serif Georgia, 'Times New Roman', Times, serif;
  color: rgb(230, 230, 230);
  font-size: 18px;
  font: 900;
  
}



h1 {
  text-align: center;
}

/* navbar animations*/


.navbar {
  padding: .8rem;
  background-color: rgba(21, 37, 59, 0.767);
}

.navbar-nav li {
  padding-right: 20px;
}

.nav-link {
  font-size: 1.1em !important;
  color: rgb(255, 255, 255);
}

a.animated-button.victoria-three {
  border: 2px solid rgb(60, 88, 128);
}

a.animated-button.victoria-three:after {
  background: rgb(60, 88, 128);
  opacity: .5;
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

a.animated-button.victoria-three:hover:after {
  height: 140%;
  opacity: 1;
}

a.animated-button:link,
a.animated-button:visited {
  position: relative;
  display: block;
  margin: 30px auto 0;
  padding: 14px 15px;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  letter-spacing: .08em;
  border-radius: 0;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2);
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}

a.animated-button:link:after,
a.animated-button:visited:after {
  content: "";
  position: absolute;
  height: 0%;
  left: 50%;
  top: 50%;
  width: 150%;
  z-index: -1;
  -webkit-transition: all 0.75s ease 0s;
  -moz-transition: all 0.75s ease 0s;
  -o-transition: all 0.75s ease 0s;
  transition: all 0.75s ease 0s;
}

a.animated-button:link:hover,
a.animated-button:visited:hover {
  color: #FFF;
  text-shadow: none;
}

a.animated-button:link:hover:after,
a.animated-button:visited:hover:after {
  height: 450%;
}

a.animated-button:link,
a.animated-button:visited {
  position: relative;
  display: block;
  margin: 30px auto 0;
  padding: 14px 15px;
  color: #fff;
  font-size: 14px;
  border-radius: 0;
  font-weight: 500;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  letter-spacing: .08em;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2);
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}

footer {
  background-color: rgb(36, 53, 77);
  color: #ffffff;
  padding-top: 2rem;
}

hr.light {
  border-top: 1px solid #ffffff;
  width: 100%;
  margin-top: .8rem;
  margin-bottom: 1rem;
}

footer a {
  color: #ffffff;
}

hr.light-100 {
  border-top: 1px solid #ffffff;
  width: 100%;
  margin-top: .8rem;
  margin-bottom: 1rem;
}

.font-awesome {
  font-size: 3em;
  margin: 2rem;
}

.fa-facebook:hover,
.fa-twitter:hover,
.fa-yelp:hover {
  color: #b3b3b3;
}

.footer-text {
  font-size: 20px;
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: rgb(76, 117, 170);
  color: rgb(255, 255, 255);
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#myBtn:hover {
  background-color: #555;
}

/*Constansts throuought the page*/

/*Homepage*/



.jumbotron {
  padding: 1rem;
  border-radius: 0px;
  background-color: rgb(60, 88, 128);
}

.about-us-btn {
  background-color: rgb(60, 88, 128);
  color: #fff;
}

.about-us-btn:hover {
  background-color: rgb(98, 142, 204);
  color: white;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;

}

.frontimage {
  border: 5px solid rgba(214, 214, 214, 0.616);
}

.daily-hours {
  text-align: center;
  font-size: 18px;
}



/*menu page*/
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.menu-text{
  color: black;
}
.page_title {
  padding: 30px 0px;
}
.page_title h1 {
  color: rgb(60, 88, 128);
  font-weight: 700;
  line-height: 2;
  margin-bottom: 0;
  position: relative;
  text-transform: capitalize;
}
.page_title h1::before {
  background: rgb(60, 88, 128);
  width: 70px;
  height: 2px;
  position: absolute;
  content: '';
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.page_title h1::after {
  position: absolute;
  content: '';
  background: rgb(60, 88, 128);
  width: 30px;
  height: 2px;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/*Menu starts*/

.menu_tab {
  margin: 0 auto;
  justify-content: center;
}
#breakfast-tab:hover{
color: white;
font-weight: 700;
}
#lunch-tab:hover{
  color: white;
  font-weight: 700;
}
#dinner-tab:hover{
  color: white;
  font-weight: 700;
}
.nav-item {
  display: inline-block;
  text-align: center;
}
.nav-tabs .nav-link{
  transition: .3s;
}
.nav-tabs .nav-link.active {
  background: rgb(98, 142, 204);
  color: #FFF;
  font-weight: 700;
  border: 1px solid rgb(98, 142, 204);
  text-transform: capitalize;
}
.nav-link {
  color: #000;
}
.nav-tabs .nav-link:hover {
  background: rgb(98, 142, 204);
  color: rgba(255, 255, 255, 0);
  border: 1px solid rgb(98, 142, 204);
}
.single_menu {
  position: relative;
  margin-bottom: 75px;
  transition: .3s;
  
}
.menu_content {
  padding-left: 25px;
  text-align: left;
  
  
}
.menu_content h4 {
  font-size: 25px;
  font-weight: 300;
  border-bottom: 1px dashed rgb(98, 142, 204);
  line-height: 2;
  text-transform: capitalize;
}
.menu_content h4 span {
  font-size: 25px;
  font-weight: 800;
  float: right;
  font-style: italic;
  color: rgb(98, 142, 204);
}
.menu_content p {
  font-weight: 200;
  font-size: 16px;
  letter-spacing: 1px;
}
.menu_btn.btn.btn-danger {
  margin: 0 auto;
  display: block;
  width: 140px;
}
/*Menu ends*/
.menu_btn.btn.btn-danger {
margin: 0 auto;
display: block;
width: 140px;
}
.btn.btn-danger {
background: rgb(98, 142, 204);
border: 1px solid rgb(98, 142, 204);
transition: .3s;
position: relative;
z-index: 1;
text-transform: capitalize;
font-weight: 700;
overflow: hidden;
padding: 15px 25px;
}
.btn.btn-danger::before {
position: absolute;
content: '';
background: rgb(98, 142, 204);
width: 100%;
height: 100%;
left: -100%;
top: 100%;
transition: .3s;
z-index: -1;
}
.btn.btn-danger:hover:before{
  top: 0;
  left: 0;
}











/*Find Us Page*/
.googlemaps {
  padding: 3rem;
  width: 100%;
  height: 700px;
}

.location {
  border-top: 1px solid #ffffff;
  width: 100%;
  margin-top: .8rem;
  margin-bottom: 1rem;

}

/*About -----------------------page*/
.carousel-caption h3{
  font-size: 200%;
  font-weight:500;
  text-shadow: 1px 1px 10px #000;
  padding-bottom: 1rem;
}



/* *contact form */

* {
  box-sizing: border-box;
}

input[type=text],
select,
textarea {
  width: 100%;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  background-color: rgba(255, 255, 255, 0);
}

input[type=submit] {
  background-color: white;
  color: rgb(60, 88, 128);
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  weight: 400;
}

input[type=submit]:hover {
  background-color: rgb(96, 141, 201);
  color: white;
}
label {
  color: rgb(255, 255, 255);
}
.form-container {
  border-radius: 5px;
  background-color: #f2f2f200;
  width: 60%;
  margin-left: 20%;
}
.contact-box1{
  background-color: white;
  height: 80px;
}
.contact-box2{
background-color: white;
}
.submit-btn{
  margin-left: 45%;
  margin-right: 45%;

}



/* Fish Animation */
svg.fish {
  overflow: visible;
}

@-webkit-keyframes swim {
  0% {
    margin-left: -235px
  }

  90% {
    margin-left: 100%;
  }

  100% {
    margin-left: 100%;
  }
}

@keyframes swim {
  0% {
    margin-left: -235px
  }

  70% {
    margin-left: 100%;
  }

  100% {
    margin-left: 100%;
  }
}

.fish {
  width: 235px;
  height: 104px;
  margin-left: -235px;
  position: absolute;
  animation: swim 20s;
  -webkit-animation: swim 20s;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  animation-timing-function: linear;
  -webkit-animation-timing-function: linear;
}

svg #fish1,
svg #fish2,
svg #fish3,
svg #fish4,
svg #fish5,
svg #fish6 {
  background-color: rgb(36, 53, 77);

  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

svg #fish2 {
  animation-delay: 0.5s;
  -webkit-animation-delay: 0.5s;
}

svg #fish3 {
  animation-delay: 0.2s;
  -webkit-animation-delay: 0.2s;
}

svg #fish4 {
  animation-delay: 0.4s;
  -webkit-animation-delay: 0.4s;
}

svg #fish5 {
  animation-delay: 0.1s;
  -webkit-animation-delay: 0.1s;
}

svg #fish6 {
  animation-delay: 0.3s;
  -webkit-animation-delay: 0.3s;
}

/**/
@-moz-keyframes bounce {

  0%,
  50%,
  100% {
    -moz-transform: translateY(0);
    transform: translateY(0);
  }

  25% {
    -moz-transform: translateY(-5px);
    transform: translateY(-5px);
  }

  75% {
    -moz-transform: translateY(-3px);
    transform: translateY(-3px);
  }
}

@-webkit-keyframes bounce {

  0%,
  50%,
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  25% {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
  }

  75% {
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px);
  }
}

@keyframes bounce {

  0%,
  50%,
  100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  25% {
    -moz-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
  }

  75% {
    -moz-transform: translateY(-3px);
    -ms-transform: translateY(-3px);
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px);
  }
}

/*END Fish Animation*/



/* catering page*/


.cateringcenter {
  text-align: center;
}

.items{
  color: gray;
  font-weight: bold;
}
@media only screen and (max-width: 780px) {
  .frontimage{
    width: 100%;
  }
  #fish{
    display: none;
  }
  .fish{
    display: block;
  }

  
}