/*Constansts throuought the page*/
html, body{ 
  background-color: rgb(48, 74, 109);
  height: 100%;
  width: 100%;
  font-family: sans-serif Georgia, 'Times New Roman', Times, serif;
  color: rgb(255, 246, 246);
}

.navbar{
    padding: .8rem;
    background-color:rgba(21, 37, 59, 0.767);
  }
  .navbar-nav li{
    padding-right: 20px;
  }
  .nav-link{
    font-size: 1.1em !important;
    color: white;
  }
h1{
  text-align: center;
}


footer{
    background-color:rgb(36, 53, 77);
    color: #ffffff;
    padding-top: 2rem;
  }
  hr.light{
    border-top: 1px solid #ffffff;
    width: 100%;
    margin-top: .8rem;
    margin-bottom: 1rem;
  }
  footer a{
    color: #ffffff;
  }
  hr.light-100{
    border-top: 1px solid #ffffff;
    width: 100%;
    margin-top: .8rem;
    margin-bottom: 1rem;
  }
.font-awesome{
  font-size: 3em;
  margin: 2rem;
}
.fa-facebook:hover,
.fa-twitter:hover,
.fa-yelp:hover{
  color: #b3b3b3;
}
.footer-text{
  font-size: 20px;
}
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: rgb(76, 117, 170);
  color: rgba(255, 255, 255, 0);
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#myBtn:hover {
  background-color: #555;
}
/*Constansts throuought the page*/

/*Homepage*/

.jumbotron{
  padding: 1rem;
  border-radius: 0px;
  background-color: rgb(60, 88, 128);
  box-shadow: 5px 5px;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  border: 5px solid rgb(153, 153, 153);
}  





/*menu page*/

.parent{
  position: relative;
  top: 0;
  left: 0;
}
.favorite{
    float: left;
    width: 50%;
    padding: 5px;
    max-width: 100%;
    height: 50%;
    position: relative;
      top: 0;
      left: 0;
}
.star{
width: 10%;
position: absolute;
top: 10px;
left: 10px;
}
.star1{
  width: 10%;
  position: absolute;
  top: 10px;
  left: 1700px;
}

    
 
    





/*Find Us Page*/
.googlemaps{
  padding: 3rem;
}
.location{
  border-top: 1px solid #ffffff;
  width: 100%;
  margin-top: .8rem;
  margin-bottom: 1rem;
}