body{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
  background-color: rgb(60, 88, 128);
}







.navbar{
    padding: .8rem;
    background-color:rgba(36, 53, 77, 0.767);
  }
  .navbar-nav li{
    padding-right: 20px;
  }
  .nav-link{
    font-size: 1.1em !important;
    color: white;
  }
h1{
text-align: center;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}







footer{
    background-color:rgb(36, 53, 77);
    color: #ffffff;
    padding-top: 2rem;
  }
  hr.light{
    border-top: 1px solid #ffffff;
    width: 100%;
    margin-top: .8rem;
    margin-bottom: 1rem;
  }
  footer a{
    color: #ffffff;
  }
  hr.light-100{
    border-top: 1px solid #ffffff;
    width: 100%;
    margin-top: .8rem;
    margin-bottom: 1rem;
  }
.font-awesome{
  font-size: 3em;
  margin: 2rem;
}
.fa-facebook:hover,
.fa-twitter:hover,
.fa-yelp:hover{
  color: #a8a8a8;
}
.footer-text{
  font-size: 20px;
}
  



  